<nav>
    <div class="container">
        <a href="/">
            <div>
                <h1>OFFICE INVENTORY</h1>
            </div>
        </a>
        <div class="nav-links">
            <a href="/inventory/items">Items</a>
            <a href="/inventory/categories">Categories</a>
        </div>
    </div>
</nav>