<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="item-container">
        <div class="item-wrapper">
            <div class="item-row-auto">
                <form action="" method="POST">
                    <label for="name">Name:</label><input type="text" name="name" required="true">
                    <label for="description">Description:</label><input type="description" name="description" required="true">
                    <button class="btn column-fill" type="submit">Add category</button>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>